         h1 {
        text-align-last: center;
        }
            p {
        text-align-last: center;
            }
          a:link {
                color: floralwhite;
                background-color: transparent;
                text-decoration: underline;
            }
          a:visited {
                color: #9328c5;
                background-color: transparent;
                text-decoration: underline;
            }
         a:hover {
                color: #4111ca;
                background-color: transparent;
                text-decoration: underline;
            }
         a:active {
                color: #7fe9ff;
                background-color: transparent;
                text-decoration: underline;
                
            }
